<!doctype HTML>
<html>
	<head>
		<title></title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="./css/master.css">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	</head>
	<body>
		<main>
			<div class="slider-container">
				<button 
					v-on:click="slideLeft"
					v-bind:class="{ 'active': slideActive > 0 }"
				>
					<i class="material-icons">keyboard_arrow_left</i>
				</button>
				<button
					v-on:click="slideRight"
					v-bind:class="{ 'active': slideActive < slides.length - 1 }"
				>
					<i class="material-icons">keyboard_arrow_right</i>
				</button>
				<slide
					v-for="slide in slides"
					v-bind:slide="slide"
					v-bind:key="slide.id"
					v-bind:class="{ 'active': slide.id == slideActive,
									'out': slide.id == slideActive && !slideReady }"
				></slide>
				<div class="pagination-container">
					<pagination
						v-for="pagination in slides"
						v-bind:pagination="pagination"
						v-bind:key="pagination.id"
						v-bind:class="{ 'active': pagination.id == slideActive }"
					>
					</pagination>
				</div>
			</div>
		</main>

		<!-- Scripts -->

		<!-- Vue -->
		<!-- development version, includes helpful console warnings -->
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<!-- production version, optimized for size and speed -->
		<!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->

		<!-- Custom -->
		<script src="./js/master.js"></script>
	</body>
</html>